.list {
  padding: 0;
  text-align: center;
}
.item {
  list-style: none;
  padding: 0;
}
.ratings {
  display: flex;
  justify-content: space-evenly;
  color: rgb(255, 255, 0);
  margin-bottom: 10px;
}
.ratings .item {
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.836);
}
.ratings .item:first-child {
  color: rgb(0, 219, 0);
}
.ratings .item:last-child {
  color: red;
}
